/* ------ BASIC SETUP ------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #444;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix { zoom: 1}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------- REUSABLE COMPONENTS ------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0px;
}


/* ------- BUTTONS ------- */

.btn:link, .btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #e67e22;
  border-radius: 10px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, .btn-full:visited {
  background-color: #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-full:hover, .btn-full:active {
  background-color: #cf6d17;
  border-color: #cf6d17;
}

.btn-ghost:link, .btn-ghost:visited {
  color: #b05d14;
}

.btn-ghost:hover, .btn-ghost:active {
  color: #fff;
  background-color: #cf6d17;
  border-color: #cf6d17;
}

/* ------- HEADINGS ------- */

h1, h2, h3 {
  font-weight: 200;
}

h1 {
  margin-top: 0;
  font-size: 280%;
  margin-bottom: 20px;
  color: #fff;
  word-spacing:  3px;
  letter-spacing: 1px;
}

h2 {
  font-size: 200%;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* --------- PARAGRAPHS --------- */

.long-copy {
  width: 70%;
  line-height: 150%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;

}

/* --------- ICONS --------- */

.icon-large {
  display: block;
  color: #e67e22;
  margin-bottom: 5px;
  font-size: 300%;
}

/* --------- HEADER --------- */


header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;

}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 55px;

}

.main-nav li a:link, .main-nav li a:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  padding: 8px 0px;
}

.main-nav li a:hover, .main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}


/* --------- FEAUTRES --------- */

.box {
  padding: 1.5%;
}

.box p {
  font-size: 90%;
  line-height: 150%;
}

.section-features .long-copy {
  margin-bottom: 20px;
}

/* --------- MEALS --------- */

.section-meals {
  padding: 0;
}

.meals-showcase ul{
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  width: 25%;
  display: block;
  float: left;
}

.meal-fig {
  width: 100%;
  overflow: hidden;
  background-color: black;
  margin: 0;
}

.meal-fig img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.3s, opacity 0.3s;
}

.meal-fig img:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* --------- STEPS --------- */


.steps-box {
  margin-top: 40px;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 6%;

}

.steps-box:last-child {
  padding-left: 6%;
}

.works-step:first-of-type {
  margin-top: 70px;
}

.works-step:last-of-type {
  margin-bottom: 50px;
}

.app-screen {
  width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {

  border: 2px solid #e67e22;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #e67e22;
  display: inline-block;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app img {
  height: 50px;
  width: auto;
}

.btn-app {
  margin-left: 10px;
}
